<div class="container space"> 
    <div class="row">
        <h1 class="header-question-title">Descubra que tipo de empreendedor você é?</h1>
        <h6 class="text-header-question">Responda nosso rápido quiz e veja com que empreendedor de sucesso você mais parece!</h6>
        <p class="text-header-question-date" style="padding-bottom: 20px;">publicado 27 de Abril de 2017, 6:43 P.M.</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="../../img/psa.png" width="65" height="65" class="header-question-photo">
        <p class="p-inline-text">
          <span class="first-lbl">Equipe PSA/Citroën</span><br />
          <span class="second-lbl">Relacionamento com o cliente</span></p>
      </div>
</div>